@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

:root{
--color-primary:#151726;
--color-accent:#D9D9D9;
--color-dark:#234757;
--color-medium:#468fa0;
--color-light:#70c4cf;

}


*{
margin: 0;
padding: 0;
border: none;
outline: none;
font-family: 'Roboto', sans-serif;
list-style: none;
text-decoration: none;
box-sizing: border-box;
}
html{
    font-size: 62.5%;
}

body{
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    background-color: var(--color-primary);
    color: var(--color-accent);
}

header{
    margin-top: 20px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1rem;
    background-color: transparent;
    filter:drop-shadow(10px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo{
    font-size: 3rem;
    color: var(--color-accent);
    font-weight: 800;
    cursor: pointer;
    transition: 0.5s;
}

.logo:hover{
    transform: scale(1.1);
}

nav a{
    font-size: 1.8rem;
    color: var(--color-accent);
    margin-left: 3rem;
    font-weight: 500;
    transition: 0.3s ease;
    border-bottom: 3px solid transparent;
}

nav a:hover,
nav a.active{
    color: var(--color-light);
    border-bottom: 3px solid var(--color-light);
}

@media(max-width:995px){

    nav{
        position: absolute;
        display: none;
        top: 0;
        right: 0;
        width: 40%;
        border-left: 3px solid var(--color-light);
        border-bottom: 3px solid var(--color-light);
        border-bottom-left-radius: 2rem;
        padding: 1rem solid;
        background-color: var(--color-primary);
        border-top: 0.1rem solid rgba(0,0,0,0.1);
    }

    nav.active{
        display: block;
    }

    nav a{
        display: block;
        font-size: 2rem;
        margin: 3rem 0;
    }
    nav a:hover,
    nav a.active{
        padding: 1rem;
        border-radius: 0.5rem;
        border-bottom: 0.5rem solid var(--color-light);
    }
}
    section{
        min-height: 100vh;
        padding: 5rem 9% 5rem;
    }
    .home{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 8rem;
        background-color: var(--color-primary);
    }

    .home .home-content h1{
        font-size: 6rem;
        font-weight: 700;
        line-height: 1.3;
    }

    span{
        color: var(--color-medium);
    }

    .home-content h3{
        font-size: 4rem;
        margin-bottom: 1rem;
        font-weight: 700;
    }

    .home-content p{
        font-size: 1.6rem;
    }

    .home-img{
        border-radius: 50%;
    }
    .home-img img{
        position: relative;
        width: 32vw;
        border-radius: 50%;
        box-shadow: 0 0 25px solid var(--color-light);
        cursor: pointer;
        transition: 0.2s linear;
    }

    .home-img img:hover{
        font-size: 1.8rem;
        font-weight: 500;
    }

    .secciones a{
        display: inline-flex;
        justify-content: center;
        align-items: center;
        width: 4rem;
        height: 4rem;
        background-color: transparent;
        border: 0.2rem solid var(--color-light);
        font-size: 2rem;
        border-radius: 50%;
        margin: 3rem 1.5rem 3rem 0;
        transition: 0.3s ease;
        color: var(--color-accent);
    }

    .secciones a:hover{
        color: var(--color-light);
        transform:scale(1.3) translateY(-5px);
        box-shadow: 0 0 25px var(--color-light);
    }

    .btn{
        display: inline-block;
        padding: 1rem 2.8rem;
        background-color: var(--color-primary);
        border-radius: 4rem;
        font-size: 1.6rem;
        color: var(--color-light);
        letter-spacing: 0.3rem;
        font-weight: 600;
        border: 2px solid var(--color-light);
        transition: 0.3s ease;
        cursor: pointer;
    }

    .btn:hover{
        transform: scale3d(1.3);
        background-color: var(--color-light);
        color: var(--color-primary);
        box-shadow: 0 0 25px var(--color-light);
    }

    .typing-text{
        font-size: 34px;
        font-weight: 600;
        min-width: 280px;
    }

    .typing-text span{
        position: relative;
    }

    .typing-text span::before{
        content:"Ayudarte";
        color: var(--color-light);
        animation: words 10s infinite;
    }

    .typing-text span::after{
        content: "";
        background-color: transparent;
        position: absolute;
        width: calc(100% + 8px);
        height: 100%;
        border-left: 3px solid var(--color-primary);
        right: -8;
        animation: cursor 0.6s infinite;
    }

    @keyframes cursor {
        to{
            border-left: 3px solid var(--color-light);
        }
    }
    @keyframes words {
        0%, 25%{
            content: "Traducir";
        }
        26%,50%{
            content: "Aclarar Dudas";
        }
        51%,75%{
            content: "Generar Preguntas";
        }
        76%,100%{
            content: "Resumir";
        }
    }

    @media (max-width:1000px){
        .home{
            gap: 4rem;
        }
    }

    @media (max-width:995px){
        .home{
            flex-direction: column;
            margin: 5rem 4rem;
        }

        .home .home-content h3{
            font-size: 2.5rem;
        }

        .home .home-content h1{
            font-size: 5rem;
        }

        .home-img img{
            width: 70vw;
            margin-top: 4rem;
        }
    }

